<div class="row bottom-margin">
    <label asp-for="FILL_FTITLE" class="col-xs-9 display-label"></label>
    <div class="col-xs-3">
        @Html.DisplayFor(model => model.FILL_FTITLE)
    </div>
</div>
